absl-py==2.3.1
accelerate==0.29.3
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.11.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.4.0
babel==2.17.0
beautifulsoup4==4.14.2
bert-score==0.3.13
bitsandbytes==0.43.3
codebleu @ git+https://github.com/k4black/codebleu.git@b0edb622f6a52fe9d1edc407be5061d3e1462a7f
huggingface-hub==0.36.0
nltk==3.9.2
numpy==1.26.4
pandas==2.2.3
pathtools==0.1.2
peft==0.10.0
rouge-score==0.1.2
safetensors==0.6.2
scikit-learn==1.5.2
scipy==1.16.2
seaborn==0.13.2
sentence-transformers==4.1.0
sentencepiece==0.1.99
tokenizers==0.21.4
trl==0.8.6
transformers==4.48.0